<!-- 
Title: trejo-assignment 6.4.ejs new.ejs
Author: Professor Krasso
Date: 02 10 2022
Modified By: Allan Trejo
Description: Small application using EJS
Attribution: Bulma css framework https://bulma.io
 -->
<%- include ("header") %>
    <div class="container is-fluid" style="min-height:90vh">
        <%- include ('navbar') %>
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/">
                            EMS Home
                        </a></li>

                    <li class="is-active"><a href="#" aria-current="page">
                            <%= title %>
                        </a></li>
                </ul>
            </nav>
            <div class="columns is-centered">
                <div class="is-size-4 mt-6">
                    Add a New Employee
                </div>
            </div>
            <div class="columns is-centered">
                <form class="field mt-6 " method="post" action="/process">

                    <div class="column ">
                        <label class="label" for="txtFirstName">First Name</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input " type="text" placeholder="First Name" name="txtFirstName">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>

                    </div>

                    <div class="column ">
                        <label class="label" for="txtLastName">Last Name</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="Last Name" name="txtLastName">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>

                    </div>
                    <div class="column is-6"> <button type="submit" class="button is-primary "
                            style="float: right;">Submit</button>
                    </div>
                    <!-- CSRF token -->
                    <input name="_csrf" value="<%= csrfToken %>" type="hidden" />
                </form>
            </div>
    </div>

    <%- include ("scripts") %>
        <%- include ("footer") %>