<!-- 
Title: trejo-assignment 6.4.ejs index.ejs
Author: Professor Krasso
Date: 02 10 2022
Modified By: Allan Trejo
Description: Small application using EJS
Attribution: Bulma css framework https://bulma.io
 -->
<%- include ("header") %>
    <div class="container is-fluid" style="min-height:90vh">
        <%- include ('navbar') %>
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/">
                            EMS Home
                        </a></li>

                    <li class="is-active"><a href="#" aria-current="page">
                            <%= title %>
                        </a></li>
                </ul>
            </nav>

            <div class="is-size-4 mt-6 ">-- Employee --</div>
            <br><br>
            <div class="columns">
                <div class="card column is-one-quarter">
                    <div class=" card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <label for="txtName">Name:</label>
                                <p class="title is-4">
                                    <%= employee[0].firstName %>
                                </p>
                                <p class="subtitle is-6">
                                    <%= employee[0].lastName %>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

    </div>


    <%- include ("scripts") %>
        <%- include ("footer") %>